<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>

    <form:form action="validateSignIn" method="GET" modelAttribute="Account">
        <form:input id = "inputName" type="text" path="name" placeholder="Name">
        <form:input id = "inputPassword" type="text" name="password" placeholder="Password">
        <select id="inputRole" name="Role">
            <option value="Bookie">Bookie</option>
            <option value="Player">Player</option>
        </select>
        <input type="submit">
    </form:form>

    </body>
</html>


<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="ISO-8859-1" />-->
<!--    <title>User Registration</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="#" th:action="@{/register}"-->
<!--      th:object="${user}" method="post">-->
<!--    Email:<input type="text" th:field="*{email}" />-->
<!--    Password:<input type="password" th:field="*{password}" />-->
<!--    <input type="submit" value="Submit" />-->
<!--</form>-->
<!--</body>-->
<!--</html>-->